#loading {
    display:none;
}
#fade_layout {
    opacity: 0.5;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1040;
    background-color: #848484;
    -webkit-transition:opacity 0.15s linear 0s;
    transition: opacity 0.15s linear 0s;
}
.loader{
    z-index: 1050;
    left: 50%;
    top: 50%;
    position: fixed;
}

#canvas_holder{
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
}

#map_canvas{
    width:100%;
    height:520px;
    //position: absolute;
    top: 0px;
    left: 0px;
    //padding:0 20px;
}

#map {
    position: relative;
    width: 100%;
    height:100%;
}
.labels {
    color: white;
    background-color: rgba(221, 75, 57, 0.78);
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    width: 20px; 
    height:20px;
    white-space: nowrap;
    border-radius: 10px;
}

.circle-text {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background: rgba(221, 75, 57, 0.78);
    border-radius: 50%;
}
.custom-label {
    width: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
    top: 42px !important;
    left: 5px !important;
    border-radius: 15px;
    /*   background: red !important;*/
    color: white !important;
    /*   padding: 2px;*/
    text-align: center !important;
    vertical-align: middle !important;
}

.gm-custom-container{
    top: -4px !important;
}

.marker-label{
    width: 30px; height: 30px; border-radius: 15px; line-height: 30px;
}
.input-sm{
    padding-right:23px !important;
}
.skin-red-light .main-header .logo, .skin-red-light .main-header .logo:hover {
    background-color: #00b2dd;
}
.skin-red-light .main-header .navbar .sidebar-toggle:hover {
    background-color: transparent;
}
.skin-red-light .main-header .navbar,.bg-color {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00b2dd+0,dae020+100 */
background: rgb(0,178,221); /* Old browsers */
background: -moz-linear-gradient(left, rgb(0,178,221) 0%, rgb(218,224,32) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgb(0,178,221) 0%,rgb(218,224,32) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgb(0,178,221) 0%,rgb(218,224,32) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b2dd', endColorstr='#dae020',GradientType=1 ); /* IE6-9 */
}
.skin-red-light .sidebar-menu>li:hover>a, .skin-red-light .sidebar-menu>li.active>a,.btn-primary, .btn-primary:hover {
    background: #1d9aa0;
    color: #fff;
}
.widget-user .widget-user-header {
    height: 123px;
}
.widget-user .box-footer {
    padding-top: 60px;
}
.widget-user .widget-user-image {
    top: 56px;
    margin-left: -76px;
}
.widget-user .widget-user-image > img {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.invoice .btn {
    background-color: #00b2dd;
    margin-right: 17px;
}
.widget-user .widget-user-image > img {
    width: 152px;
}
.bg-aqua-active, .alert-info, .skin-red-light .sidebar-menu > li:hover > a, .skin-red-light .sidebar-menu > li.active > a, .btn-primary, .btn-primary:hover {
    background-color: #00b2dd !important;
}
.content-header {
    padding: 15px 25px 0;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #00b2dd;
    border-color: #00b2dd;
}


.additionalImageDiv{
    width: 180px;
    height: 150px;
    float: left;
    text-align: center;
    margin: 5px 5px 18px 5px;
}

.leftalign{
    text-align: left !important;
}

.rightalign{
   text-align: right !important; 
}
